<h1>My Todos</h1>
<%= form_for Todo.new do |form| %>
  <%= form.text_field :description, placeholder: 'Description' %>
  <%= form.submit 'Save' %>
<% end %>

<table class="table">
  <thead>
    <th>Description</th>
    <th>Days Left</th>
    <th>Complete</th>
  </thead>
  <% @todos.each do |todo| %>
    <tr id="<%= dom_id(todo)%>">
      <td><%= todo.description %></td>
      <td></td>
      <td><%= link_to "Completed", todo, method: :delete, remote: true, class: "btn btn-success" %></td>
    </tr>
  <% end %>
</table>